<div class="containerSearch">
  <h4 class="titleSearch">Consultar Propuesta</h4>
  <mat-form-field appearance="standard" class="filter">
    <mat-label>Filtrar</mat-label>
    <input matInput placeholder="Ingrese el titulo de su propuesta" #input />
  </mat-form-field>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 table">
    <!-- Position Column -->
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef>No.</th>
      <td mat-cell *matCellDef="let element">{{ element.position }}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Titulo de la Propuesta</th>
      <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef>Estado</th>
      <td mat-cell *matCellDef="let element">{{ element.status }}</td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="score">
      <th mat-header-cell *matHeaderCellDef>Calificacion</th>
      <td mat-cell *matCellDef="let element">{{ element.score }}</td>
    </ng-container>
    <!-- Retro Column -->
    <ng-container matColumnDef="feedback">
      <th mat-header-cell *matHeaderCellDef>Retroalimentacion</th>
      <td mat-cell *matCellDef="let element">{{ element.feedback }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
