@import "../principal/principal.component.scss";
@import "../../../../utilities";

/* Arriba | Derecha | Abajo | Izquierda */
.margin {
  margin: 30px 20px 20px 0;
  width: 30rem;
}

.form-control,
.form-select {
  border: none;
  border-color: none;
  box-shadow: none;
  border-bottom: 1px solid $gray;
}

.form-control ::placeholder {
  color: none;
}
.btn-secondary {
  border-color: none;
  margin: 30px 20px 20px 20px;
}
.titleLogin {
  margin-bottom: 2rem;
}

.formLogin {
  display: flex;
  flex-direction: column;
}
