<mat-stepper #stepper>
  <mat-step [stepControl]="firstFormGroup" errorMessage="Datos Incompletos">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Datos Personales</ng-template>
      <mat-form-field appearance="fill" class="containerInputs">
        <mat-label>Primer Nombre</mat-label>
        <input
          matInput
          placeholder="Primer Nombre"
          formControlName="firstCtrl"
          required
        />
      </mat-form-field>
      <mat-form-field appearance="fill" class="containerInputs">
        <mat-label>Segundo Nombre</mat-label>
        <input
          matInput
          placeholder="Segundo Nombre"
          formControlName="firstCtrl"
          required
        />
      </mat-form-field>
      <mat-form-field appearance="fill" class="containerInputs">
        <mat-label>Primer Apellido</mat-label>
        <input
          matInput
          placeholder="Primer Apellido"
          formControlName="firstCtrl"
          required
        />
      </mat-form-field>
      <mat-form-field appearance="fill" class="containerInputs">
        <mat-label>Segundo Apellido</mat-label>
        <input
          matInput
          placeholder="Segundo Apellido"
          formControlName="firstCtrl"
          required
        />
      </mat-form-field>
      <mat-form-field appearance="fill" class="containerInputs">
        <mat-label>Documento</mat-label>
        <input matInput placeholder="CC" formControlName="firstCtrl" required />
      </mat-form-field>
      <mat-form-field appearance="fill" class="containerInputs">
        <mat-label>Estado Civil</mat-label>
        <input
          matInput
          placeholder="Estado Civil"
          formControlName="firstCtrl"
          required
        />
      </mat-form-field>
      <mat-form-field appearance="fill" class="containerInputs">
        <mat-label>Sexo</mat-label>
        <input
          matInput
          placeholder="Sexo"
          formControlName="firstCtrl"
          required
        />
      </mat-form-field>
      <mat-form-field appearance="fill" class="containerInputs">
        <mat-label>Fecha Nacimiento</mat-label>
        <input
          matInput
          placeholder=""
          Fecha
          Nacimiento
          formControlName="firstCtrl"
          required
        />
      </mat-form-field>
      <mat-form-field appearance="fill" class="containerInputs">
        <mat-label>Pais</mat-label>
        <input
          matInput
          placeholder="Pais"
          formControlName="firstCtrl"
          required
        />
      </mat-form-field>
      <mat-form-field appearance="fill" class="containerInputs">
        <mat-label>Departamento</mat-label>
        <input
          matInput
          placeholder="Departamento"
          formControlName="firstCtrl"
          required
        />
      </mat-form-field>
      <mat-form-field appearance="fill" class="containerInputs">
        <mat-label>Lugar de Nacimiento</mat-label>
        <input
          matInput
          placeholder="Ciudad"
          formControlName="firstCtrl"
          required
        />
      </mat-form-field>
      <mat-form-field appearance="fill" class="containerInputs">
        <mat-label>Telefono</mat-label>
        <input
          matInput
          placeholder="Telefono"
          formControlName="firstCtrl"
          required
        />
      </mat-form-field>
      <mat-form-field appearance="fill" class="containerInputs">
        <mat-label>Correo Institucional </mat-label>
        <input
          matInput
          placeholder="Correo Institucional"
          formControlName="firstCtrl"
          required
        />
      </mat-form-field>
      <div class="information">
        <p>Ingresa los datos requeridos.</p>
        <button mat-button matStepperNext>Siguiente</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup" errorMessage="Datos Incompletos">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Estudios Secundarios</ng-template>
      <mat-form-field appearance="fill">
        <mat-label>Address</mat-label>
        <input
          matInput
          placeholder="Ex. 1 Main St, New York, NY"
          formControlName="secondCtrl"
          required
        />
      </mat-form-field>
      <div>
        <p>Go to a different step to see the error state</p>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <p>You are now done.</p>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-stepper>
