@import "../../../../../utilities.scss";
@import "../../researchContent/students/table-content/table-content.component.scss";
s .table {
  text-align: left;
}

.table th {
  text-align: left;
}

.filterSublinea {
  width: 45rem;
}

.titleLines {
  margin-bottom: 3rem;
}
