@import "../../cv/register-cv/register-cv.component.scss";
@import "../../../../../utilities.scss";

.titleProposal {
  width: 40rem;
  margin-right: 30px;
  margin-bottom: 20px;
}

.mediumContainer {
  width: 25rem;
  margin-right: 30px;
  margin-bottom: 20px;
}

.container {
  width: 40rem;
}
