<div>
  <h3>Registrar Propuesta</h3>
</div>
<mat-stepper #stepper>
  <mat-step
    [stepControl]="generalInformationFormGroup"
    errorMessage="Datos generales Incompletos."
  >
    <form [formGroup]="generalInformationFormGroup">
      <ng-template matStepLabel>Generalalidades</ng-template>
      <p>Informacion General de la propuesta</p>
      <mat-form-field appearance="fill" class="titleProposal">
        <mat-label>Titulo</mat-label>
        <input
          matInput
          placeholder="Titulo de la Propuesta"
          formControlName="generalCtrl"
          required
        />
      </mat-form-field>
      <mat-form-field appearance="fill" class="containerInputs">
        <mat-label>Fecha</mat-label>
        <input matInput [matDatepicker]="startDate" />
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle
          matSuffix
          [for]="startDate"
        ></mat-datepicker-toggle>
        <mat-datepicker #startDate></mat-datepicker>
      </mat-form-field>
      <p>Integrantes de la propuesta</p>
      <mat-form-field appearance="fill" class="mediumContainer">
        <mat-label>Nombre Completo</mat-label>
        <input
          matInput
          placeholder="Nombres y Apellidos"
          formControlName="generalCtrl"
          required
        />
      </mat-form-field>
      <mat-form-field appearance="fill" class="containerInputs">
        <mat-label>Identificacion</mat-label>
        <mat-select [formControl]="idControl" required>
          <mat-option>--</mat-option>
          <mat-option *ngFor="let id of ids" [value]="id">
            {{ id.name }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="idControl.hasError('required')"
          >Elige una Opcion</mat-error
        >
      </mat-form-field>
      <mat-form-field appearance="fill" class="containerInputs">
        <mat-label>Documento</mat-label>
        <input matInput placeholder="" formControlName="generalCtrl" required />
      </mat-form-field>
      <mat-form-field appearance="fill" class="mediumContainer">
        <mat-label>Programa Academico</mat-label>
        <input
          matInput
          placeholder="programa inscrito"
          formControlName="generalCtrl"
          required
        />
      </mat-form-field>
      <mat-form-field appearance="fill" class="containerInputs">
        <mat-label>Nro Creditos Academicos</mat-label>
        <input
          type="number"
          matInput
          placeholder=""
          formControlName="generalCtrl"
          required
        />
      </mat-form-field>
      <mat-form-field appearance="fill" class="mediumContainer">
        <mat-label>Correo</mat-label>
        <input
          type="email"
          matInput
          placeholder="@unicesar.edu.co"
          formControlName="generalCtrl"
          required
        />
      </mat-form-field>
      <mat-form-field appearance="fill" class="containerInputs">
        <mat-label>Telefono</mat-label>
        <input
          matInput
          placeholder="Telefono"
          formControlName="generalCtrl"
          required
        />
      </mat-form-field>
      <p>Segundo Integrante</p>
      <mat-form-field appearance="fill" class="mediumContainer">
        <mat-label>Nombre Completo</mat-label>
        <input
          matInput
          placeholder="Nombres y Apellidos"
          formControlName="generalCtrl"
          required
        />
      </mat-form-field>
      <mat-form-field appearance="fill" class="containerInputs">
        <mat-label>Identificacion</mat-label>
        <mat-select [formControl]="idControl" required>
          <mat-option>--</mat-option>
          <mat-option *ngFor="let id of ids" [value]="id">
            {{ id.name }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="idControl.hasError('required')"
          >Elige una Opcion</mat-error
        >
      </mat-form-field>
      <mat-form-field appearance="fill" class="containerInputs">
        <mat-label>Documento</mat-label>
        <input matInput placeholder="" formControlName="generalCtrl" required />
      </mat-form-field>
      <mat-form-field appearance="fill" class="mediumContainer">
        <mat-label>Programa Academico</mat-label>
        <input
          matInput
          placeholder="programa inscrito"
          formControlName="generalCtrl"
          required
        />
      </mat-form-field>
      <mat-form-field appearance="fill" class="containerInputs">
        <mat-label>Nro Creditos Academicos</mat-label>
        <input
          type="number"
          matInput
          placeholder=""
          formControlName="generalCtrl"
          required
        />
      </mat-form-field>
      <mat-form-field appearance="fill" class="mediumContainer">
        <mat-label>Correo</mat-label>
        <input
          type="email"
          matInput
          placeholder="@unicesar.edu.co"
          formControlName="generalCtrl"
          required
        />
      </mat-form-field>
      <mat-form-field appearance="fill" class="containerInputs">
        <mat-label>Telefono</mat-label>
        <input
          matInput
          placeholder="Telefono"
          formControlName="generalCtrl"
          required
        />
      </mat-form-field>
      <p>Tercer Integrante</p>
      <mat-form-field appearance="fill" class="mediumContainer">
        <mat-label>Nombre Completo</mat-label>
        <input
          matInput
          placeholder="Nombres y Apellidos"
          formControlName="generalCtrl"
          required
        />
      </mat-form-field>
      <mat-form-field appearance="fill" class="containerInputs">
        <mat-label>Identificacion</mat-label>
        <mat-select [formControl]="idControl" required>
          <mat-option>--</mat-option>
          <mat-option *ngFor="let id of ids" [value]="id">
            {{ id.name }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="idControl.hasError('required')"
          >Elige una Opcion</mat-error
        >
      </mat-form-field>
      <mat-form-field appearance="fill" class="containerInputs">
        <mat-label>Documento</mat-label>
        <input matInput placeholder="" formControlName="generalCtrl" required />
      </mat-form-field>
      <mat-form-field appearance="fill" class="mediumContainer">
        <mat-label>Programa Academico</mat-label>
        <input
          matInput
          placeholder="programa inscrito"
          formControlName="generalCtrl"
          required
        />
      </mat-form-field>
      <mat-form-field appearance="fill" class="containerInputs">
        <mat-label>Nro Creditos Academicos</mat-label>
        <input
          type="number"
          matInput
          placeholder=""
          formControlName="generalCtrl"
          required
        />
      </mat-form-field>
      <mat-form-field appearance="fill" class="mediumContainer">
        <mat-label>Correo</mat-label>
        <input
          type="email"
          matInput
          placeholder="@unicesar.edu.co"
          formControlName="generalCtrl"
          required
        />
      </mat-form-field>
      <mat-form-field appearance="fill" class="containerInputs">
        <mat-label>Telefono</mat-label>
        <input
          matInput
          placeholder="Telefono"
          formControlName="generalCtrl"
          required
        />
      </mat-form-field>
      <div>
        <button mat-button matStepperNext>Siguiente</button>
      </div>
    </form>
  </mat-step>
  <mat-step
    [stepControl]="specificInformationFormGroup"
    errorMessage="Datos Incompletos"
  >
    <form [formGroup]="specificInformationFormGroup">
      <ng-template matStepLabel>Especificacion</ng-template>
      <p>Informacion Especifica de la Propuesta</p>
      <mat-form-field appearance="fill" class="mediumContainer">
        <mat-label>Linea de Investigacion</mat-label>
        <input matInput placeholder="" formControlName="specifiCtrl" required />
      </mat-form-field>
      <mat-form-field appearance="fill" class="mediumContainer">
        <mat-label>Sublinea Investigacion</mat-label>
        <input matInput placeholder="" formControlName="specifiCtrl" required />
      </mat-form-field>
      <mat-form-field appearance="fill" class="mediumContainer">
        <mat-label>Areas Tematicas</mat-label>
        <input matInput placeholder="" formControlName="specifiCtrl" required />
      </mat-form-field>
      <mat-form-field appearance="fill" class="mediumContainer">
        <mat-label>Grupos de Investigacion</mat-label>
        <input matInput placeholder="" formControlName="specifiCtrl" required />
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Anterior</button>
        <button mat-button matStepperNext>Siguiente</button>
      </div>
    </form>
  </mat-step>
  <mat-step
    [stepControl]="problemStatementFormGroup"
    errorMessage="Datos Incompletos"
  >
    <form [formGroup]="problemStatementFormGroup">
      <ng-template matStepLabel>Planteamiento</ng-template>
      <p>Planteamiento del Problema</p>
      <mat-form-field class="container" appearance="fill">
        <mat-label>Planteamiento</mat-label>
        <textarea
          matInput
          placeholder="Argumente "
          formControlName="problemCtrl"
        ></textarea>
      </mat-form-field>
      <p>Formulacion del Problema</p>
      <mat-form-field class="container" appearance="fill">
        <mat-label>Formulacion</mat-label>
        <textarea
          matInput
          placeholder="Formule"
          formControlName="problemCtrl"
        ></textarea>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Anterior</button>
        <button mat-button matStepperNext>Siguiente</button>
      </div>
    </form>
  </mat-step>
  <mat-step
    [stepControl]="justificationFormGroup"
    errorMessage="Datos Incompletos"
  >
    <form [formGroup]="justificationFormGroup">
      <ng-template matStepLabel>Justificacion</ng-template>
      <mat-form-field class="container" appearance="fill">
        <mat-label>Justificacion</mat-label>
        <textarea
          matInput
          placeholder=""
          formControlName="justificationCtrl"
        ></textarea>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Anterior</button>
        <button mat-button matStepperNext>Siguiente</button>
      </div>
    </form>
  </mat-step>
  <mat-step
    [stepControl]="objectivesFormGroup"
    errorMessage="Datos Incompletos"
  >
    <form [formGroup]="objectivesFormGroup">
      <ng-template matStepLabel>Objetivos</ng-template>
      <mat-form-field appearance="fill" class="titleProposal">
        <mat-label> Objetivo General</mat-label>
        <input
          matInput
          placeholder=""
          formControlName="objectivesCtrl"
          required
        />
      </mat-form-field>
      <mat-form-field class="container" appearance="fill">
        <mat-label>Objetivos Especificos</mat-label>
        <textarea
          matInput
          placeholder=""
          formControlName="objectivesCtrl"
        ></textarea>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Anterior</button>
        <button mat-button matStepperNext>Siguiente</button>
      </div>
    </form>
  </mat-step>
  <mat-step
    [stepControl]="bibliographyFormGroup"
    errorMessage="Datos Incompletos"
  >
    <form [formGroup]="bibliographyFormGroup">
      <ng-template matStepLabel>Bibliografia</ng-template>
      <mat-form-field class="container" appearance="fill">
        <mat-label>Bibliografia</mat-label>
        <textarea
          matInput
          placeholder="Ingrese Bibliografias"
          formControlName="bibliographyCtrl"
        ></textarea>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Anterior</button>
        <button mat-button matStepperNext>Siguiente</button>
      </div>
    </form>
  </mat-step>
</mat-stepper>
