<form [formGroup]="problemStatementFormGroup">
  <p>Planteamiento del Problema</p>
  <mat-form-field class="container" appearance="fill">
    <mat-label>Planteamiento</mat-label>
    <textarea
      matInput
      id="approachProblem"
      placeholder="Argumente "
      formControlName="problemCtrl"
    ></textarea>
  </mat-form-field>
  <p>Formulacion del Problema</p>
  <mat-form-field class="container" appearance="fill">
    <mat-label>Formulacion</mat-label>
    <textarea
      matInput
      id="formulationProblem"
      placeholder="Formule"
      formControlName="problemCtrl"
    ></textarea>
  </mat-form-field>
  <div>
    <button mat-button matStepperPrevious class="buttonSimple">Anterior</button>
    <button mat-button matStepperNext class="buttonSimple">Siguiente</button>
  </div>
</form>
