<mat-form-field appearance="fill" class="containerInputs">
  <mat-label>Filtrar Por</mat-label>
  <mat-select [formControl]="itemsControl" required>
    <mat-option>--</mat-option>
    <mat-option *ngFor="let item of items" [value]="item">
      {{ item.name }}
    </mat-option>
  </mat-select>
  <mat-error *ngIf="itemsControl.hasError('required')"
    >Elige una Opcion</mat-error
  >
</mat-form-field>
<mat-form-field appearance="standard" class="filter">
  <mat-label></mat-label>
  <input matInput id="filter" placeholder="Ej." #input />
</mat-form-field>
<div class="containerSearch">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 table">
    <!-- Position Column -->
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef>No.</th>
      <td mat-cell *matCellDef="let element">{{ element.position }}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Titulo</th>
      <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>

    <!-- Status Column -->
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef>Estado</th>
      <td mat-cell *matCellDef="let element">{{ element.status }}</td>
    </ng-container>

    <!-- view Column -->
    <ng-container matColumnDef="view">
      <th mat-header-cell *matHeaderCellDef>Vista</th>
      <td mat-cell *matCellDef="let element" (click)="viewInformation()">
        <i class="bi bi-{{ element.view }} view"> </i>
      </td>
    </ng-container>
    <!-- Retro Column -->
    <ng-container matColumnDef="feedback">
      <th mat-header-cell *matHeaderCellDef>Retroalimentacion</th>
      <td mat-cell *matCellDef="let element" (click)="viewFeedback()">
        <i class="bi bi-{{ element.feedback }} feedback"> </i>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
