@import "../../../../../../utilities.scss";
.table {
  width: 50rem;
  box-shadow: none;
  text-align: center;
}
.filter {
  width: 30rem;
}
.table th {
  text-align: center;
}

.bi:hover {
  cursor: pointer;
  color: $lightBlue;
}
