@import "../../../../../../utilities.scss";
@import "../../../proposal/registerProposal/bibliography/bibliography.component.scss";
.supports {
  height: 15rem;
  width: 30rem;
  margin: 5rem;
}
.titleProject {
  margin-bottom: 3rem;
}
.button {
  margin: 5rem;
}
