<mat-stepper #stepper>
  <mat-step [stepControl]="firstFormGroup" errorMessage="Datos Incompletos">
    <ng-template matStepLabel>Datos Personales</ng-template>
    <app-personal-information
      [formGroup]="firstFormGroup"
    ></app-personal-information>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup" errorMessage="Datos Incompletos">
    <ng-template matStepLabel>Estudios</ng-template>
    <app-education [formGroup]="secondFormGroup"></app-education>
  </mat-step>
  <mat-step>
    <form>
      <ng-template matStepLabel>Estudios Adicionales</ng-template>
      <app-additional-education></app-additional-education>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Finalizar</ng-template>
    <div class="information">
      <p>Haz finalizado el registro Correctamente.</p>
      <button mat-button matStepperPrevious class="buttonSimple">
        Anterior
      </button>
      <button mat-button class="button">Finalizar</button>
    </div>
  </mat-step>
</mat-stepper>
