<div class="titleEvaluators">
  <h4>Registrar Evaluadores</h4>
  <p class="text">
    Para registrar un docente como evaluador es necesario que este haya
    ingresado su hoja de vida en el sistema.
  </p>
</div>
<form [formGroup]="registerEvaluatorFormGroup">
  <mat-form-field appearance="fill" class="mediumContainer">
    <mat-label>Docente</mat-label>
    <mat-select [formControl]="evaluatorsControl" required>
      <mat-option>--</mat-option>
      <mat-option *ngFor="let evaluator of evaluators" [value]="evaluator">
        {{ evaluator.name }}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="evaluatorsControl.hasError('required')"
      >Elige una Opcion</mat-error
    >
  </mat-form-field>
  <mat-form-field appearance="fill" class="mediumContainer">
    <mat-label>Disponibilidad</mat-label>
    <mat-select [formControl]="availableControl" required>
      <mat-option>--</mat-option>
      <mat-option *ngFor="let available of availables" [value]="available">
        {{ available.name }}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="availableControl.hasError('required')"
      >Elige una Opcion</mat-error
    >
  </mat-form-field>
  <div>
    <button mat-button class="button">Guardar</button>
  </div>
</form>
