<form [formGroup]="bibliographyFormGroup" class="formBibliography">
  <mat-form-field class="container" appearance="fill">
    <mat-label>Bibliografia</mat-label>
    <textarea
      matInput
      placeholder="Ingrese Bibliografias"
      formControlName="bibliographyCtrl"
    ></textarea>
  </mat-form-field>
  <div class="supports">
    <i class="bi bi-cloud-arrow-up"></i>
    <a href="#">adjuntar soportes dando click</a>
  </div>
  <div>
    <button mat-button matStepperPrevious class="buttonSimple">Anterior</button>
    <button mat-button matStepperNext class="button">Guardar</button>
  </div>
</form>
