@import "../../../../../../utilities.scss";

.formBibliography {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 30rem 1fr;
}
.supports {
  height: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px dashed $gray;
}

.supports a {
  text-decoration: none;
  color: black;
}

p {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
