@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@200;300;400;800&display=swap");
@import "./scrollBar.scss";
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

$yellow: #fed501;
$lightBlue: #88c1d5;
$darkBlue: #0290d0;
$orange: #ff4c02;
$black: #161616;
$gray: #e5e5e5;

* {
  font-family: "Quicksand", sans-serif;
  letter-spacing: 1px;
}
.containerInputs {
  width: 15rem;
  margin-right: 30px;
  margin-bottom: 20px;
}

.titleProposal {
  width: 40rem;
  margin-right: 30px;
  margin-bottom: 20px;
}

.mediumContainer {
  width: 25rem;
  margin-right: 30px;
  margin-bottom: 20px;
}
.buttonSimple {
  width: 6rem;
  border-radius: 2rem;
}
.button {
  width: 6rem;
  border-radius: 2rem;
}
.button:hover {
  color: white;
  background-color: $lightBlue;
  border-radius: 2rem;
}
