@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@200;300;400;800&display=swap");

$yellow: #fed501;
$lightBlue: #88c1d5;
$darkBlue: #0290d0;
$orange: #ff4c02;
$black: #161616;
$gray: #e5e5e5;

* {
  font-family: "Quicksand", sans-serif;
  letter-spacing: 1px;
}
