<div class="dashboard">
  <aside class="navegation">
    <h5 class="logo">Pegi</h5>
    <div class="userControl">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 512 512"
        class="iconUser"
        width="50"
        height="50"
      >
        <path
          d="M256 0C114.6 0 0 114.6 0 256s114.6 256 256 256s256-114.6 256-256S397.4 0 256 0zM256 128c39.77 0 72 32.24 72 72S295.8 272 256 272c-39.76 0-72-32.24-72-72S216.2 128 256 128zM256 448c-52.93 0-100.9-21.53-135.7-56.29C136.5 349.9 176.5 320 224 320h64c47.54 0 87.54 29.88 103.7 71.71C356.9 426.5 308.9 448 256 448z"
        />
      </svg>

      <h5>Usuario</h5>
      <h6>@unicesar.edu.co</h6>
    </div>
    <nav class="nav flex-column">
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link"><i class="bi bi-person-fill"></i>Perfil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"><i class="bi bi-clipboard-fill"></i>Propuesta</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"><i class="bi bi-stack"></i>Proyecto</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"><i class="bi bi-people-fill"></i> Asesores</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"
            ><i class="bi bi-text-left"></i>Lineas de investigacion</a
          >
        </li>
      </ul>
      <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
        <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
          <button mat-button [routerLink]="[node.route]">
            {{ node.label }}
          </button>
        </mat-tree-node>
        <mat-tree-node
          *matTreeNodeDef="let node; when: hasChild"
          matTreeNodePadding
        >
          <button
            mat-icon-button
            matTreeNodeToggle
            [attr.aria-label]="'Toggle ' + node.label"
          >
            <i class="bi bi-{{ node.icon }}"> </i>
            {{ node.label }}
          </button>
        </mat-tree-node>
      </mat-tree>
    </nav>
  </aside>
  <section class="childContainer">
    <router-outlet></router-outlet>
  </section>
</div>
<footer></footer>
