<div class="dashboard">
  <aside class="navegation">
    <div class="userControl">
      <h5 class="logo">Pegi</h5>
      <h5 class="nameUser" id="nameUser">Usuario</h5>
      <p>@unicesar.edu.co</p>
    </div>
    <nav class="nav flex-column">
      <mat-tree
        [dataSource]="dataSource"
        [treeControl]="treeControl"
        class="navItems"
      >
        <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
          <button mat-button class="label" [routerLink]="[node.route]">
            <i class="bi bi-{{ node.icon }}"> </i>
            {{ node.label }}
          </button>
        </mat-tree-node>
        <mat-tree-node
          *matTreeNodeDef="let node; when: hasChild"
          matTreeNodePadding
        >
          <button
            class="label"
            mat-icon-button
            matTreeNodeToggle
            [attr.aria-label]="'Toggle ' + node.label"
          >
            <i class="bi bi-{{ node.icon }}"> </i>
            {{ node.label }}
          </button>
        </mat-tree-node>
      </mat-tree>
    </nav>
  </aside>
  <section class="childContainer">
    <router-outlet></router-outlet>
  </section>
</div>
