<p>Estudios Postgrado</p>
<mat-form-field appearance="fill" class="mediumMaxContainer">
  <mat-label>Institucion Superior</mat-label>
  <input matInput placeholder="" id="postgraduateInstitution" />
</mat-form-field>
<mat-form-field appearance="fill" class="containerInputs">
  <mat-label>Departamento</mat-label>
  <mat-select [formControl]="departmentControl" required>
    <mat-option>--</mat-option>
    <mat-option *ngFor="let department of departments" [value]="department">
      {{ department.name }}
    </mat-option>
  </mat-select>
  <mat-error *ngIf="departmentControl.hasError('required')"
    >Elige una Opcion</mat-error
  >
</mat-form-field>
<mat-form-field appearance="fill" class="containerInputs">
  <mat-label>Ciudad</mat-label>
  <mat-select [formControl]="cityControl" required>
    <mat-option>--</mat-option>
    <mat-option *ngFor="let city of cities" [value]="city">
      {{ city.name }}
    </mat-option>
  </mat-select>
  <mat-error *ngIf="cityControl.hasError('required')"
    >Elige una Opcion</mat-error
  >
</mat-form-field>
<mat-form-field appearance="fill" class="containerInputs">
  <mat-label>Inicio</mat-label>
  <input matInput [matDatepicker]="startDateProfessional" />
  <mat-hint>MM/DD/YYYY</mat-hint>
  <mat-datepicker-toggle
    matSuffix
    [for]="startDateProfessional"
  ></mat-datepicker-toggle>
  <mat-datepicker #startDateProfessional></mat-datepicker>
</mat-form-field>
<mat-form-field appearance="fill">
  <mat-label>Finalizacion</mat-label>
  <input matInput [matDatepicker]="endDatePostgraduate" />
  <mat-hint>MM/DD/YYYY</mat-hint>
  <mat-datepicker-toggle
    matSuffix
    [for]="endDatePostgraduate"
  ></mat-datepicker-toggle>
  <mat-datepicker #endDatePostgraduate></mat-datepicker>
</mat-form-field>
<p>Experiencia Profesional</p>
<mat-form-field appearance="fill" class="mediumMaxContainer">
  <mat-label>Institucion Superior</mat-label>
  <input matInput placeholder="" id="professionalInstitution" />
</mat-form-field>
<mat-form-field appearance="fill" class="containerInputs">
  <mat-label>Departamento</mat-label>
  <mat-select [formControl]="departmentControl" required>
    <mat-option>--</mat-option>
    <mat-option *ngFor="let department of departments" [value]="department">
      {{ department.name }}
    </mat-option>
  </mat-select>
  <mat-error *ngIf="departmentControl.hasError('required')"
    >Elige una Opcion</mat-error
  >
</mat-form-field>
<mat-form-field appearance="fill" class="containerInputs">
  <mat-label>Ciudad</mat-label>
  <mat-select [formControl]="cityControl" required>
    <mat-option>--</mat-option>
    <mat-option *ngFor="let city of cities" [value]="city">
      {{ city.name }}
    </mat-option>
  </mat-select>
  <mat-error *ngIf="cityControl.hasError('required')"
    >Elige una Opcion</mat-error
  >
</mat-form-field>
<mat-form-field appearance="fill" class="containerInputs">
  <mat-label>Inicio</mat-label>
  <input matInput [matDatepicker]="startDateProfessional" />
  <mat-hint>MM/DD/YYYY</mat-hint>
  <mat-datepicker-toggle
    matSuffix
    [for]="startDateProfessional"
  ></mat-datepicker-toggle>
  <mat-datepicker #startDateProfessional></mat-datepicker>
</mat-form-field>
<mat-form-field appearance="fill" class="containerInputs">
  <mat-label>Finalizacion</mat-label>
  <input matInput [matDatepicker]="endDateProfessional" />
  <mat-hint>MM/DD/YYYY</mat-hint>
  <mat-datepicker-toggle
    matSuffix
    [for]="endDateProfessional"
  ></mat-datepicker-toggle>
  <mat-datepicker #endDateProfessional></mat-datepicker>
</mat-form-field>
<p>Experiencia Docente</p>
<mat-form-field appearance="fill" class="mediumMaxContainer">
  <mat-label>Institucion Superior</mat-label>
  <input matInput placeholder="" id="experienceInstitution" />
</mat-form-field>
<mat-form-field appearance="fill" class="containerInputs">
  <mat-label>Departamento</mat-label>
  <mat-select [formControl]="departmentControl" required>
    <mat-option>--</mat-option>
    <mat-option *ngFor="let department of departments" [value]="department">
      {{ department.name }}
    </mat-option>
  </mat-select>
  <mat-error *ngIf="departmentControl.hasError('required')"
    >Elige una Opcion</mat-error
  >
</mat-form-field>
<mat-form-field appearance="fill" class="containerInputs">
  <mat-label>Ciudad</mat-label>
  <mat-select [formControl]="cityControl" required>
    <mat-option>--</mat-option>
    <mat-option *ngFor="let city of cities" [value]="city">
      {{ city.name }}
    </mat-option>
  </mat-select>
  <mat-error *ngIf="cityControl.hasError('required')"
    >Elige una Opcion</mat-error
  >
</mat-form-field>
<mat-form-field appearance="fill" class="containerInputs">
  <mat-label>Inicio</mat-label>
  <input matInput [matDatepicker]="startDateProfessional" />
  <mat-hint>MM/DD/YYYY</mat-hint>
  <mat-datepicker-toggle
    matSuffix
    [for]="startDateProfessional"
  ></mat-datepicker-toggle>
  <mat-datepicker #startDateProfessional></mat-datepicker>
</mat-form-field>
<mat-form-field appearance="fill" class="containerInputs">
  <mat-label>Finalizacion</mat-label>
  <input matInput [matDatepicker]="endDateExperience" />
  <mat-hint>MM/DD/YYYY</mat-hint>
  <mat-datepicker-toggle
    matSuffix
    [for]="endDateExperience"
  ></mat-datepicker-toggle>
  <mat-datepicker #endDateExperience></mat-datepicker>
</mat-form-field>
<div class="information">
  <button mat-button matStepperPrevious class="buttonSimple" id="last">
    Anterior
  </button>
  <button mat-button matStepperNext class="buttonSimple" id="next">
    Siguiente
  </button>
</div>
